<main>
	<section id="forms">
		<h2 class="header">Angular Forms Generator</h2>
		<p class="description">Generate angular reactive and template driven forms. Now supports bootstrap and angular material.</p>
		<hr>
		<div class="form-placement">
			<h5 class="form-placement-title">Form Placement</h5>
			<p class="form-placement-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, enim nesciunt numquam voluptatum sit nemo ea debitis unde magni quas nobis totam obcaecati cum minus assumenda eveniet voluptatem officiis illo.</p>
			<div class="form-elements-grid-area">
				<div class="wrapper">
					<div class="row-area">
						<div class="row" *ngFor="let elements of formPlacementData; let rowIndex = index">
							<div class="form-element" *ngFor="let element of elements; let elemIndex = index">
								<ng-container *ngIf="element.icon">
									<div class="hide-on-hover">
										<i [ngClass]="element.icon + ' mr-2'"></i>
										<span>{{element.name}}</span>
									</div>
								</ng-container>
								<ng-container *ngIf="!element.icon">
									<div class="hide-on-hover">
										<span>Empty Element</span>
									</div>
								</ng-container>
								<div class="element-action-buttons show-on-hover">
									<button class="btn-sm btn-danger btn mr-2" (click)="removeElement(rowIndex, elemIndex)"><i class="fas fa-trash"></i></button>
									<button class="btn-sm btn-secondary btn" (click)="editElement(rowIndex, elemIndex)"><i class="fas fa-pen"></i></button>
								</div>
							</div>
						</div>
					</div>
					<div class="buttons">
						<button *ngFor="let elements of formPlacementData; let rowIndex = index" (click)="addElementToRow(rowIndex)" class="btn btn-primary">
							<i class="fas fa-plus"></i>
						</button>	
					</div>
				</div>


				<!-- <div class="row-wrapper">
					<div class="row mx-0">
						<div>
							<i class="fas fa-phone mr-2"></i>
							<span>Phone</span>
						</div>
						<div>asdasdq1312</div>
						<div>qweqwe123</div>
					</div>
					<button class="btn btn-success">
						<i class="fas fa-plus"></i>
					</button>
				</div>
				<div class="row-wrapper">
					<div class="row mx-0">
						<div>cxzvzxc</div>
						<div>hjkghj</div>
					</div>
					<button class="btn btn-success">
						<i class="fas fa-plus"></i>
					</button>
				</div>
				<div class="row-wrapper">
					<div class="row mx-0">
						<div>uyıoyu</div>
					</div>
					<button class="btn btn-success">
						<i class="fas fa-plus"></i>
					</button>
				</div> -->
				
			</div>
			<button class="btn btn-primary btn-block mt-2" (click)="addRowToFormPlacementData()">Add New Row</button>
		</div>
		<hr>
		<!-- <div class="new-form-element">
			<div class="d-flex flex-row justify-content-between align-items-center">
				<h6>New Element</h6>
				<button class="btn btn-sm btn-outline-danger"><i class="fas fa-times"></i></button>
			</div>
			<hr>
			<div class="row mx-0">
				<div class="col-md-6 html-area text-left">
					<div class="form-check mb-3">
						<input class="form-check-input" type="checkbox" [value]="hasLabel" [checked]="hasLabel" [(ngModel)]="hasLabel" id="hasLabel" name="hasLabel">
						<label class="form-check-label" for="hasLabel">Does Input Have a Label?</label>
					</div>
					<div class="form-group">
						<label for="labelText">Label Text:</label>
						<input type="text" [(ngModel)]="labelText" class="form-control form-control-sm" id="labelText" name="labelText" placeholder="Example Label Text: Label 1">
					</div>

					<div class="dropdown mb-3">
						<label class="mr-2" for="dropdownMenuButton">Select Input Type: </label>
						<button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false"> {{selectedInputType ? selectedInputType.name : 'Select Form Input Type'}} </button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="javascript:void(0)" (click)="selectInputType(iType.type)" *ngFor="let iType of inputTypes">{{iType.name}}</a>
						</div>
					</div>

					<div class="form-group">
						<label for="inputId">Input Id:</label>
						<input type="text" [(ngModel)]="inputId" class="form-control form-control-sm" id="inputId" name="inputId" placeholder="Example Input Id: product1">
					</div>
					<div class="form-group">
						<label for="inputName">Input Name:</label>
						<input type="text" [(ngModel)]="inputName" class="form-control form-control-sm" id="inputName" name="inputName" placeholder="Example Input Name: product1">
					</div>
					<div class="form-group">
						<label for="inputValue">Input Value/Text:</label>
						<input [type]="selectedInputType.type" [(ngModel)]="inputValue" class="form-control form-control-sm" id="inputValue" name="inputValue" placeholder="Example Input Value/Text: Option1">
					</div>
				</div>
				<div class="col-md-6 angular-area">
					<div class="form-group">
						<label for="formModelSelection">Select Form Model</label>
						<br>
						<div class="form-check form-check-inline">
							<input class="form-check-input" [(ngModel)]="formModelType" type="radio" name="formModelSelection" id="formModelSelection1" value="selectionNgModel">
							<label class="form-check-label" for="formModelSelection1">NgModel</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" [(ngModel)]="formModelType" type="radio" name="formModelSelection" id="formModelSelection2" value="selectionFormControl">
							<label class="form-check-label" for="formModelSelection2">FormControl</label>
						</div>
					</div>

					<div class="form-group" *ngIf="formModelType == 'selectionNgModel'">
						<label for="ngModelVarName">NgModel Variable Name:</label>
						<input type="text" class="form-control form-control-sm" id="ngModelVarName" [(ngModel)]="ngModelVarName" aria-describedby="ngModelVarNameHelp" placeholder="Enter your ngModel variable's name">
						<small id="ngModelVarNameHelp" class="form-text text-muted">Enter your ngModel variable name to
							bind to input.</small>
					</div>
					<div class="form-group" *ngIf="formModelType == 'selectionFormControl'">
						<label for="formControlVarName">FormControl Variable Name:</label>
						<input type="text" class="form-control form-control-sm" id="formControlVarName" [(ngModel)]="formControlVarName" aria-describedby="formControlNameVarHelp" placeholder="Enter your formControl variable's name">
						<small id="formControlNameVarHelp" class="form-text text-muted">Enter your formControl variable name to
							bind to input.</small>
					</div>
				</div>
			</div>
			<hr>
			<div class="element-preview">
				<p class="mb-0">Element's HTML Preview:</p>
				<ng-container *ngIf="hasLabel">
					<code>
						{{labelOutput}}
					</code>
					<br>
				</ng-container>
				<code>
					{{inputOutput}}
				</code>
			</div>
			<hr>
			<button class="btn btn-success">Save</button>
		</div> -->
	</section>

	<section id="preview">
		<h2 class="header">Form Preview</h2>
		<div class="container bg-light p-3" style="border-radius: 5px;">
			<div [innerHTML]="htmlOutput | sanitizeHtml"></div>
		</div>
	</section>
</main>